body{
    background: url(efecto.gif);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 98vh;
}
button{
text-align: center;
background-color: coral;
padding: 2rem 6rem;
margin: 0 auto;
font-weight: 500;
font-size: 2rem;
border-radius: 24px;
border: none;
color: white;
}

button:hover{
    text-align: center;
    background-color: coral;
    padding: 2rem 7rem;
    margin: 0 auto;
    font-weight: 500;
    font-size: 2.5rem;
    border-radius: 24px;
    border: none;
    color: white;  
}